doctype html
html     
    head        
        meta(charset="UTF-8")
        title Annonymous Email
    body
        h1#myHeading This is a pug template
        p.firstParagraph I love this template!!!